/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*--------------------------------*/

body {
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 14px;
}

header {
    background-color:black;
    background-image: url(../image/potato_icon.png);
    background-repeat: no-repeat;
    background-size:contain;
    color:white;
    text-align:center;
    padding: 2rem 0rem;
    font-size: 2em;
    font-family: "Quicksand";
}
.IMG.potato {
    display: block;
    margin-right: auto
}
.item {
    background-color: black;
    height: 100%;
    position: relative;
    overflow: hidden;
}

/*  CSS for page that display schedule of the day     */
.panel-group {
    width: 100%;
    float: right;
}
.panel-heading{
    color: black ;
    background-color: firebrick;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.6s;
}

.panel-title{
    font-size: 2.5em;
    font-family:serif;
    font-family: "Quicksand";
    font-weight: bold;

}
.panel-collapse{
    background-color: #EAAC64!important;
}
.panel-body{
    font-size: 1.5em;
    color: white;
    font-family: "Quicksand";
    font-weight: bold;
    text-align: center;
}
table{
    border-collapse: collapse;
    width: 100%;
    font-size: 2em;
}
th,tr,td{
    border : 1px solid black;
    text-align: center;
}

td{
    width: 33%;
}

.available {
    background-color: #42F605!important;
}
.occupied {
    background-color: firebrick!important;
}

a:hover, a:focus{
    text-decoration: none;
}
/*---------------*/

/*  CSS for carousel   */
.carousel-control {
    position: absolute;
    background-image: none !important;
    top:auto;
    bottom: initial;
    bottom: 10%;
    float: left;
}

span.icon-prev,
span.icon-next {
    font-size: 90px !important;
}
span.prev{
    font-size: 0.3em;
    vertical-align: middle;
    font-family: "Quicksand";
    color: white;
    font-weight: bold;
}
span.next{
    font-size: 0.4em;
    font-family: "Quicksand";
    color: white;
}
.large-text{
    font-size: 48px;
    text-align: center;
}
.potato {
    background-image: url(../image/potato_icon.png);
    background-repeat: no-repeat;
    background-size: auto;
    margin: auto;
    vertical-align: middle;
    position:relative;
    height: 30%;
}
#content{
    vertical-align: middle;
    text-align: center;
    color: white;
    height:100%;
    padding-top: 1rem;
    overflow: hidden;
}

#Room {
    height: 100%;
    width: 100%;
    color: white;
    font-size: 3em;
    margin-top: 1.5rem;
    font-family: "Quicksand";
}

#type {
    margin-top: 1.5rem;
    font-family: "Times New Ronan";
    font-size: 1.5em
}

#person{
    font-family: "Times New Ronan";
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.meeting {
    font-family: "Quicksand";
    color: white;
}

#state_occupied {
    font-size: 4em;
    font-family: "Exo";
    color: white;
    font-weight: bold;
    margin-top: 1rem;
}

#state_available {
    font-size: 4em;
    font-family: "Exo";
    color: white;
    font-weight: bold;
    margin-top: 7rem;
    margin-bottom: 7rem;
}

#bookNowButton{
    position: relative;
    padding: 0.8rem 1.2rem;
    border-radius: 0.8rem;
    font-family: 'Pacifico', cursive;
    font-size: 0.8em;
    color: #FFF;
    text-decoration: none;
}

#clock{
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right:auto;
}
ul li {
    padding: 4px 0px;
}
/*.time {
    font-size: 0.7em;
}
#finishTime {
    font-size: 0.6em;
}
.nextTitle {
    margin-top: 40px;
    text-align: left;
    font-size: 1.2em;
//0.4em;
    color: black;
    font-family: "Quicksand";
}
/*.nextBooking {
    text-align: left;
    font-size: 1.2em;
    color: white;
    font-family: "Quicksand";
}*/


/*.date {
    color: white;
    font-size: 2em;
    font-family: "Quicksand";
}*/



/*CSS for bouncing arrow*/
.pointer{
    display: inline-block;
}

.pointer-container-left {
    color: white;
    margin-left: 0.6rem;
    padding: 0 5rem;
    padding-right: 0rem;
    bottom: 0.8rem;
    left: 0;
    position: fixed;
    display: inline-block;
}

.arrowLeft {
  background-image: url(../image/left-arrow.png);
  background-size: contain;
  background-repeat: no-repeat;
  -moz-animation: bounceLeft 2s infinite;
  -webkit-animation: bounceLeft 2s infinite;
  animation: bounceLeft 2s infinite;
  position: fixed;
  left: 1.5rem;
  padding-left: 3rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.leftIndicator {
    float: right;
    font-family: "Times New Ronan";
    font-size: 2.5rem;
    text-align: left;
}
.rightIndicator{
    float: left;
    font-family: "Times New Ronan";
    font-size: 2.5rem;
    text-align: right
}

.pointer-container-right {
    color: white;
    margin-right: 0.6rem;
    padding: 0 5rem;
    padding-left: 0rem;
    bottom: 0.8rem;
    right: 0;
    position: fixed;
    display: inline-block;
}
.arrowRight {
  background-image: url(../image/right-arrow.png);
  background-size: contain;
  background-repeat: no-repeat;
  -moz-animation: bounceRight 2s infinite;
  -webkit-animation: bounceRight 2s infinite;
  animation: bounceRight 2s infinite;
  position: fixed;
  right: 1.5rem;
  padding-right: 3rem;
  padding-top : 1.2rem;
  padding-bottom: 1.2rem;
}


@-moz-keyframes bounceLeft {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -moz-transform: translateX(-2rem);
    transform: translateX(-2rem);
  }
  60% {
    -moz-transform: translateX(-1rem);
    transform: translateX(-1rem);
  }
}
@-webkit-keyframes bounceLeft {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(-2rem);
    transform: translateX(-2rem);
  }
  60% {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem);
  }
}
@keyframes bounceLeft {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -moz-transform: translateX(-2rem);
    -ms-transform: translateX(-2rem);
    -webkit-transform: translateX(-2rem);
    transform: translateX(-2rem);
  }
  60% {
    -moz-transform: translateX(-1rem);
    -ms-transform: translateX(-1rem);
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem);
  }
}

@-moz-keyframes bounceRight {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -moz-transform: translateX(2rem);
    transform: translateX(2rem);
  }
  60% {
    -moz-transform: translateX(1rem);
    transform: translateX(1rem);
  }
}
@-webkit-keyframes bounceRight {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(2rem);
    transform: translateX(2rem);
  }
  60% {
    -webkit-transform: translateX(1rem);
    transform: translateX(1rem);
  }
}
@keyframes bounceRight {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -moz-transform: translateX(2rem);
    -ms-transform: translateX(2rem);
    -webkit-transform: translateX(2rem);
    transform: translateX(2rem);
  }
  60% {
    -moz-transform: translateX(1rem);
    -ms-transform: translateX(1rem);
    -webkit-transform: translateX(1rem);
    transform: translateX(1rem);
  }
}




/* CSS for the third interface */
#third{
   /* background-image: url("../image/autumn.jpg");
    background-repeat: no-repeat;
    background-size: 100%;*/
    background-color: black;
    color: white;

}

.time-div {
    float: left;
    width: 25%;
    height: 91%;
    overflow-y: auto;
    font-family: "Montserrat",serif;
    font-size: 20pt;
    text-align: center;
    line-height: 2.3;
}
.time-div1 {
    background-color: gray;
    border-bottom: 2px solid white;
    height: 10%;
}
.time-div2 {
    background-color: gray;
    border-bottom: 2px solid white;
    height: 10%;
}
.time-div3 {
    background-color: gray;
    border-bottom: 2px solid white;
    height: 10%;
}
.time-div4 {
    background-color: gray;
    border-bottom: 2px solid white;
    height: 10%;
}
.time-div5 {
    background-color: green;
    border-bottom: 2px solid white;
    height: 10%;
}
.time-div6 {
    background-color: green;
    border-bottom: 2px solid white;
    height: 10%;
    width: 100%;
}
.time-div7 {
    background-color: #b22222;
    border-bottom: 2px solid white;
    height: 10%;
}
.time-div8 {
    background-color: firebrick;
    border-bottom: 2px solid white;
    height: 10%;
}
.time-div9 {
    background-color: green;
    border-bottom: 2px solid white;
    height: 10%;
}
.time-div10 {
    background-color: green;
    border-bottom: 2px solid white;
    height: 10%;
}
.time-div11 {
    background-color: green;
    border-bottom: 2px solid white;
    height: 10%;
}
.time-div12 {
    background-color: green;
    border-bottom: 2px solid white;
    height: 10%;
}
.time-div13 {
    background-color: firebrick;
    border-bottom: 2px solid white;
    height: 10%;
}
.time-div14 {
    background-color: green;
    border-bottom: 2px solid white;
    height: 10%;
}
.time-div15 {
    background-color: firebrick;
    border-bottom: 2px solid white;
    height: 10%;
}
.time-div16 {
    background-color: green;
    border-bottom: 2px solid white;
    height: 10%;
}
.time-div17 {
    background-color: green;
    border-bottom: 2px solid white;
    height: 10%;
}
.time-div18 {
    background-color: green;
    border-bottom: 2px solid white;
    height: 10%;
}
.form {
    float: right;
    width: 75%;
    height: 100%;
    background-color: black;
    text-align: center;
    font-family: "Montserrat",serif;
    font-size: 20pt;
}
.main-form {
    width: 100%;
    height: 90%;
    color: white;
}

.participant-selection {
    width: 100%;
    height: 100%;
    color: white;
    background-color: black;
    font-family: "Montserrat",serif;
    text-align: center;
    font-size: 20pt;
}
.participants-title {
    width: 100%;
    height: 15%;
    padding-top: 30px;
}
.participants {
    width: 85%;
    height: 75%;
    padding-left: 6%;
    overflow-y: auto;
    float: right;
}
.selection-buttons {
    margin-top: 13%;
    width: 15%;
    height: 75%;
    float: left;
}
.save-participants {
    background-color: green;
    color: white;
    -webkit-border-radius: 85px;
    padding: 0px 20px;
    border-color: green;
    border-style: solid;
}
.p1 , .p1-select , .p2, .p2-select, .p3, .p3-select, .p4, .p4-select, .p5, .p5-select, .p6, .p6-select, .p7, .p7-select {
    width: 200px;
    height: 200px;
    float: left;
    padding-top: 80px;
    border-right-color: black;
//border-right-style: solid;
    font-size: 20pt;
}
.p1 {
    background: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ),url(../image/roshen.jpg);
    background-size: 100%;
}
.p1-select{
    background: linear-gradient(
            rgba(0, 255, 0, 0.5),
            rgba(0, 255, 0, 0.5)
    ),url(../image/roshen.jpg);
    background-size: 100%;
    color: black;
}
.p2 {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ),url(../image/shike.jpg);
    background-size: 100%;
}
/*
.p2-select {
    background-image: linear-gradient(
      rgba(0, 255, 0, 0.5),
      rgba(0, 255, 0, 0.5)
    ),url(../image/shike.jpg);
    background-size: 100%;
    color: black;
}
*/
.p3 {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ),url(../image/sandra.jpg);
    background-size: 100%;
}
.p3-select {
    background-image: linear-gradient(
            rgba(0, 255, 0, 0.5),
            rgba(0, 255, 0, 0.5)
    ),url(../image/sandra.jpg);
    background-size: 100%;
    color: black;
}
.p4 {
    background: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ),url(../image/calin.jpg);
    background-size: 100%;
}
.p4-select {
    background: linear-gradient(
            rgba(0, 255, 0, 0.5),
            rgba(0, 255, 0, 0.5)
    ),url(../image/calin.jpg);
    background-size: 100%;
    color: black;
}
.p5 {
    background: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ),url(../image/silviu.jpg);
    background-size: 100%;
}
.p5-select {
    background: linear-gradient(
            rgba(0, 255, 0, 0.5),
            rgba(0, 255, 0, 0.5)
    ),url(../image/silviu.jpg);
    background-size: 100%;
    color: black;
}
.p6 {
    background: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ),url(../image/will.jpg);
    background-size: 100%;
}
.p6-select {
    background: linear-gradient(
            rgba(0, 255, 0, 0.5),
            rgba(0, 255, 0, 0.5)
    ),url(../image/will.jpg);
    background-size: 100%;
    color: black;
}
.p7 {
    background: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ),url(../image/mudit.jpg);
    background-size: 100%;
}
.p7-select {
    background: linear-gradient(
            rgba(0, 255, 0, 0.5),
            rgba(0, 255, 0, 0.5)
    ),url(../image/mudit.jpg);
    background-size: 100%;
    color: black;
}
.participant-select {

}
button {
    color: black;
}
.form-title {
    color: white;
    height: 10%;
    font-size: 30pt;
    text-align: center;
    font-family: "Montserrat",serif;
    border-bottom: 2px solid white;
}
.meeting-type {
    height: 20%;
    padding-top: 50px;
    text-align: center;
}
.attendees {
    height: 20%;
    padding-top: 50px;
    text-align: left;
    padding-left: 130px;
}
.participants-button {
    background: white;
    padding: 10px 30px;
    border-color: white;
    border-style: solid;
    -webkit-border-radius: 96px;
}
.book {
    padding-top: 80px;
}
.book-button {
    background: green;
    padding: 10px 30px;
    border-color: green;
    border-style: solid;
    color: white;
    -webkit-border-radius: 96px;
}